.test{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 5px;
    background-color: #008272;
    text-align: center;


}
.col-md-4 {
    padding: 0.5rem;
    background-color:#93cfc9 ;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    height: 80px;
    width: 400px;
    align-items: center;

}

.col-md-8 {
    padding: 0.5rem;
    background-color:#93cfc9;
    border: 1px solid #fff;
    color: black;
    text-align: center;
    height: 80px;
    width: 400px;
}

.text{
    text-align:left;

}
.left{
    padding-left: 20px;
    text-align: left;
    font-family: "Alike";
    font-size: 18px;
    width: 50%;
    height: auto;

}

.right{
    text-align: right;
    padding-right: 20px;
    width: 50%;
    height: auto;
    font-family: "Farro";
    font-size: 20px;
}
h4{
    font-family: 'Adamina';
    font-size: 22px;

    padding-right: 20px;
    color: #f7fffe;
}