
.columnSet {
    padding: 1rem;
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid white;
    height:auto;
}

.list{
    background-color: #B0C4DE;
    width:auto;
    height: auto;

}
.emptyCard{
    background-color:#DCDCDC;
    width: 480px;
    height: auto;
    border-color: black;

}
.productName{

    font-family: Alike;
    font-size: 13px;
    font-weight: bold;


}
.productName:hover{
    color: orange;
    cursor: pointer;
    text-decoration-line: underline;

}

.product{
    text-align: center;
    float: right;
    line-height: 15px;

}
.productColour{
    font-family: Asul;
    color: #b3b5b5;
    font-size: 15px;

}
.productSize{
    font-family: Asul;
    color: #b3b5b5;
    font-size: 15px;
}
.productimage{
    height: auto;
    width:140px;

    padding-bottom: 15px;

}

.quantityString{

    font-family: "Corben";
    font-size: 15px;
    font-weight: bold;
}

.productPrice{

    font-family: "Farro";
    font-size: 23px;
}

.productQty{

    font-family: "Farro";
    font-size: 23px;
}
.remove{

    text-align: right;

}
.trashIcon{

    height: 33px;


}
.trashBtn{
    background-color: white;
    border: 0px;
    outline: none;
}

.trashBtn:active {
    background-color: white;
    box-shadow: 0 2px whitesmoke;
    transform: translateY(4px);
    outline: none;
}

.trashBtn:focus {

    outline:0;
}

.qty {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}


.emptyList{


    border: 1px rebeccapurple;
    text-align: right;

}

.sadimage{

    height: auto;
    width:100px;

    padding-bottom: 15px;
}
.empty{

    font-family: 'Actor';
    font-size: 22px;
    font-weight: bold;
}